<h1><%=@instructor.name%></h1>
<h2>Students: </h2>
<ul>
<%@students.each do |s| %>
    <li><%= link_to s.name, student_path(s)%></li>
<%end%>
</ul>

<%= button_to "Edit", { action: "edit" }, method: :get %>
<%= button_to "Delete", { action: "destroy" }, method: :delete %>
